{% extends 'meetups/base/base.html' %}
{% load static %}

{% block window_name %}Dynamic Meetups{% endblock %}
{% block page_css %}
  <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}Great Meetups{% endblock %}
{% block header_content %}Extra Header Messages{% endblock %}

{% block body %}
  <main>
    <section>
      <h2>Upcoming Meetups</h2>
      <ol>
        {% for meetup in meetups %}
          {% include 'meetups/includes/meetup-item.html' with title=meetup.title location="Coming Soon" slug=meetup.slug img_url=meetup.image.url %}
        {% endfor %}
      </ol>
    </section>
  </main>
{% endblock %}